

<h1>About</h1>

<p><%= link_to "Sign up Now!", "#" %></a></p>
<p>Mockshare is a web service to allow users to share their mockups of websites, mobile apps, and other mockups they want to share with the world.</p>

