
<% if user_signed_in? %>
	<div class="hero-unit">
	   <h1>Welcome back</h1>
	   <p>Got a picture to add?</p>
		 <p><%= link_to "Add a Mockup", new_user_registration_path, class: "btn btn-primary btn-large" %></a></p>
	</div>
<% else %>
	<div class="hero-unit">
  		<h1>Welcome to Mockshare</h1>
  		<p>Share your mockups with the world</p>
  		<p><%= link_to "Sign up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %></a></p>
	</div>
<% end %>
