<tr>
  <td><%= card.description %></td>
  <td><%= link_to 'Show', card %></td>
  <% if current_user == card.user %>
  <!-- Only show if logged in user created the card -->
    <td><%= link_to 'Edit', edit_card_path(card) %></td>
    <td><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
</tr>
