<tr>
  <td><%= card.description %></td>
  <td><%= link_to 'Show', card %></td>
  <td><%= link_to 'Edit', edit_card_path(card) %></td>
  <td><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
