<div class="row">
  <div class="span6 offset2">
    <div class="well">
      <p>
        <%= @card.description %>
      </p>
      <%= link_to 'Edit', edit_card_path(@card) %> |
      <%= link_to 'Back', cards_path %>
    </div>
  </div>
</div>
