// $baseFontFamily: Oxygen;
// @import url(http://fonts.googleapis.com/css?family=Oxygen);
$btnPrimaryBackground: #FFCC00;
$navbarBackgroundHighlight: #3366CC;
$navbarBackground: #3366CC;
$navbarLinkColor: white;
$textColor: white;
$linkColor: white;
$heroUnitBackground: #333399;
$wellBackground: #333399;
@import 'bootstrap';


body {
  padding-top: 60px;
background-color:#269;
background-image: -webkit-linear-gradient(white 2px, transparent 2px),
-webkit-linear-gradient(0deg, white 2px, transparent 2px),
-webkit-linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
-webkit-linear-gradient(0deg, rgba(255,255,255,.3) 1px, transparent 1px);
background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px; background-color:#269;

background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px
}

.form-actions {
  background-color: #333399;
}

.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
  background-color: #CC9933;
}

@import 'bootstrap-responsive';

@media (min-width: 1200px) {

  /* line 565, ../../../../.rvm/gems/ruby-1.9.3-p194@rails3tutorial2ndEd/gems/bootstrap-sass-2.2.2.0/vendor/assets/stylesheets/bootstrap/_mixins.scss */
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 940px;
  }
}

.navbar-inner {
  @include box-shadow(none !important);
  border: 0;
}

footer {
  margin-top: 50px;
}

/* Masonry */
.box {
  margin: 5px;
  padding: 5px;
  font-size: 11px;
  line-height: 1.4em;
  float: left;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 4px 4px 30px #444;
  width: 264px;
  border: 2px solid white;
  background-color: gray;
}

.box img {
  display: block;
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
}

.show_solo {
  margin: 0 auto;
  width: 300px;
}

.description {
  margin: 10px 0 5px;
}
